.Comment {
    /* border: 1 x solid black; */
}

.Comment-content {
    padding: 0.1em 0 0.1em 0em;
    font-family: inherit;
    font-size: inherit;
    margin-bottom: 0em;
}

.Comment-deleted {
    color: #767676;
}

.Comment-header {
    font-weight: bold;
}

.Comment-header, .Comment-footer {
    font-size: 0.75em;
}

.Comment-hide {
    color: #767676;
    cursor: pointer;
}

.Comment-time {
    color: #767676;;
}

.Comment {
    margin-top: 0.5em;
}

.Comment .Comment {
    margin-top: 0.5em;
    margin-left: 1.5em;
}

.CommentList .CommentList {
    border-left: 1px solid #aaa; 
}

.Comment-user {
    font-weight: bold;
    text-decoration: none;
}

.Comment-btn-link {
    padding: 0;
    font-size: inherit;
    font-weight: bold;
    color: #0072ee !important;
}

.Comment-vote-btn {
    border: 0px;
    background: none;
    font-size: 1.3em;
    vertical-align: middle;
    /* color: #0072ee !important; */
}

.link-red, .link-red:hover {
    color: #DC3545;
}

.ReplyBox, .ReplyBox textarea {
    width: 100%;
}

.ReplyBox label {
    font-size: 0.75rem;
    font-weight: bold;
    /* float: right; */
    margin: 8px 0 0 0;
}

.ReplyBox-btn {
    margin-top: 0.5em;
}

.text-success{
    color: #008a00 !important;
}

.text-danger {
    color: #dc3545 !important;
}

.ReplyBox-Cancel{
    color: #0072ee !important;
}