.App {
  text-align: left;
  margin: 1em;
}

body {
  background-color: #ECEBE4;
}

.error{
  color: red;
  font-weight: bold;
}
.forgotPassword{
  background: none !important;
  border: none !important;
  text-decoration: underline;

}
.forgotPassword:hover{
  text-decoration: none;
  color: red;
}